* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lato, 'helvetica-light';
  position: relative;
  text-transform: uppercase;
  padding: 20px 0;
}

p {
    padding: 18px 0;
}

.front, .back {
    height: 250px;
    width: 360px;
    display: block;
    background-color: lightgray;
    border-radius: 10px;
    position: relative;
}

.front {
    padding: 25px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    top: 50px;
    left: 400px;
    z-index: 1;
    box-shadow: 4px 4px 2px rgba(71, 71, 71, 0.2);
}

.number {
    grid-column: 1/3;
    grid-row: 2;
}

.card-holder {
    grid-row: 3;
}

#holder {
    width: 170px;
}

.back {
    position: absolute;
    top: 100px;
    left: 500px;
    z-index: 0
}

.front img {
    position: absolute;
    top: 25px;
    left: 280px;
}

.submit {
    padding: 8px 17px;
    position: absolute;
    top: 400px;
    left: 750px;
    border: solid black 2px;
    border-radius: 5px;
}

#card-number {
    width: 300px;
}

.expiration {
    grid-column: 2;
    grid-row: 3;
}

input {
    font-size: 17px;
    height: 30px;
}

#exp {
    width: 50px;
}

.back {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 15px 0 30px 0;
}

.CVC {
    grid-row: 2;
    grid-column: 2;
}

#CVC {
    width: 65px
}

.bar {
    background-color: black;
    grid-column: 1/3;
    height: 40px;
}

@media (max-width: 900px){
    .front {
    top: 50px;
    left: 100px;
}

    .back {
    top: 100px;
    left: 200px;
}

    .submit {
        left: 400px;
    }
}
