* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    flex-shrink: 0;
}

.social {
    display: flex;
    justify-content: right;
    padding-right: 100px;
}

.social img {
    width: 50px;
    height: auto;
}

.flaticon {
    font-size: 0.6em;
}