@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Crimson+Pro:wght@400;500;600&display=swap');

:root {
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Crimson Pro", serif;
}

body {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4,
.menu a,
button {
    font-family: var(--heading-font);
}

* {
    margin: 0; 
    padding: 0;
}

header {
    z-index: 1;
    height: 149px;
    border: 1px solid black;
    background-color: #ededed;
}

.menu {
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin: 0 150px
}

.content {
    margin: 0 200px;
}


a {
    color: black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    align-content: center;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    top: 200px;
    bottom: 0;
    width: 150px;
    background-image: url('banner.png');
    background-repeat: repeat-y;
    background-size: cover;
    z-index: 2;
}

.left {
    top: 0;
    left: 0;
}
.right {
    top: 0;
    right: 0;
}

.buttons {
    display: flex;
    justify-content: right;
}

button {
    padding: 5px;
    margin: 5px;
}

.logo {
    position: absolute;
    top: 0;
    height: 149px;
    left: 150px;
}

.item {
    display: flex;
    height: 35px;
    width: 100%;

    margin: 0;
    padding: 0;
}

.menu-item {
    height: 150px;
    width:150px;
    align-content: center;
    text-align: center;
}

.menu :hover {
    background-color: #508771;
    color: white
}

.circle {
    height: 28px;
    padding: 5px 15px 5px 5px; 
    display: block;
}

.input {
    width: 100%;
    border: none;
    align-content: center;
    font-size: 25px;
}

input:focus,
textarea:focus,
input:focus {
    outline: none;
    border: none;
}

button:hover {
    background-color: #40B385;
    color: white;
}

button:active {
    background-color: #508771;
}

.center {
    align-content: center;
}

.date {
    width: 100px;
}

.picturewords {
    display: flex;
    flex-direction: row;
}

.about {
    font-size: 30px;
    margin: 50px 20px 0 20px;
    width: 80%;
}

.brain {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 700px) {

    .about {
        font-size: 20px;
    }

    .menu-item {
        width: 70px;
    }

    a {
        font-size: 15px;
    }

    .sidebar {
        display: none;
    }

    .content {
        margin: 20px
    }

    .logo {
        left: 0;
    }

    .menu {
        margin-right: 10px
    }

    .input {
        font-size: 15px;
    }
}
