* {
    margin: 0; 
    padding: 0;
}

header {
    z-index: 1;
    height: 149px;
    border: 1px solid black;
    background-color: #ededed;
    margin: 0 150px
}

.menu {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.content {
    margin: 0 200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    align-content: center;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    top: 200px;
    bottom: 0;
    width: 150px;
    background-image: url('banner.png');
    background-repeat: repeat-y;
    background-size: cover;
    z-index: 2;
}

.left {
    top: 0;
    left: 0;
}
.right {
    top: 0;
    right: 0;
}

.buttons {
    display: flex;
    justify-content: right;
}

button {
    padding: 5px;
    margin: 5px;
}

.logo {
    position: absolute;
    top: 0;
    height: 149px
}

li {
    height: 50px;
    width: auto;
    border: 1px solid black;
    align-content: center;
}

.menu-item {
    height: 150px;
    width:150px;
    align-content: center;
    text-align: center;
}

.menu :hover {
    background-color: #508771;
    color: white
}